
    /* Top of page config */
   *{
    box-sizing: border-box;
    }
 /* whole page fonts*/
  body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    background-image: url("https://ibb.co/VTNyCSs");
    background: #f1f1f1;
  }
  /* specific for types of headers*/
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .header h5 {
    font-size: 50px;
  }

 /* W3SCHOOLS */
  .topnav {
    overflow: hidden;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
  }
  
 /* W3SCHOOLS */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* W3SCHOOLS */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/*left side */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
 /* right side*/
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  /*this is for each card used in each column (learned from w3) */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
 /* helps smooth distance between cards*/
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  /* W3SCHOOLS */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* W3SCHOOLS */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }